body {
    margin: 0%;
    padding: 0%;

}


main {
    padding: 20px;
}

.sticker {
    display: flex;
    flex-direction: column;
    background: rgb(248, 246, 246, 0.7);
    border: 2px solid #007BFF;
    border-radius: 10px;
    padding: 20px;
    width: 30rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sticker img {
    width: 100%;
    object-fit: cover;
}


input[type="number"]{
    margin-top: 10px;
    width: 60px;
    text-align: center;
    font-size: 16px;
    border: 2px solid #007BFF;
    border-radius: 10px;
    padding: 20px;
    width: 30rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


button {
    padding: 10px 20px;
    font-size: 16px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
